<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATM App</title>
</head>
<body>
    <header>
        <h1>Welcome to our ATM app!</h1>
        <p>This app will make your life considerably easier, it will help you connect with others, and it will allow you to spend your money in a meaningful way!</p>
    </header>

    <main>
        <button onclick="redirectToSurvey()">Get Started</button>
    </main>
<script>
    function redirectToSurvey() {
            window.location.href = '/survey';
    }
</script>

</body>
</html>
