<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <title>Offers Page</title>
</head>
<body>
    <header>
        <div style="width: 190px; height: 110px; background: white"></div>
        <div style="justify-content: space-between;">
            <div style="color: #002337; font-size: 48px; font-family: Inter; font-weight: 400; letter-spacing: 14.40px; word-wrap: break-word">ATM</div>
        </div>
      </header>
    <main>
        <h1>Offers Page</h1>

        <p style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word">This is the class name from the server: <span id="class_name_placeholder"></span></p>
        <div id="logo-box" style="width: 190px; height: 110px; background: white"></div>

    </main>
    
    <button class="btn-primary" onclick="captureMainScreenshot()">Save Offers</button>
    <button class="btn-primary" onclick="resetSession()">Reset Session</button>
    <footer>
        <p>&copy; 2023 ATM. All rights reserved.</p>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            try {
                
                const class_name = localStorage.getItem('class_name');
                if (class_name) {
                    document.getElementById('class_name_placeholder').textContent = class_name;

                    const logoBox = document.getElementById('logo-box');
                    logoBox.style.background = getBackgroundColorFromClass(class_name)
                }
            } catch (error) {
                console.error('Error retrieving class_name from localStorage:', error);
            }
        });

        function saveOffers() {
            try {
                const class_name = document.getElementById('class_name_placeholder').textContent;

                localStorage.setItem('class_name', class_name);

                window.location.href = "{{ url_for('save_offers') }}";
            } catch (error) {
                console.error('Error redirecting to save_offers:', error);
            }
        }
        function resetSession() {
            try {
                localStorage.clear();
                window.location.href = "{{ url_for('index') }}";
            } catch (error) {
                console.error('Error resetting session:', error);
            }
        }
        function getBackgroundColorFromClass(class_name) {
        switch (class_name) {
            case 'Kevin':
                return 'pink';
            case 'Erica':
                return 'green';
            case 'Halfdan':
                return 'gold';
            case 'Anna':
                return 'brown';
            case 'Erdem':
                return 'orange';
            default:
                return 'white'; // Default color
        }
    }

    function captureMainScreenshot() {
            try {
                // Select the <main> element
                var mainElement = document.querySelector('main');

                // Use html2canvas to capture the screenshot of <main>
                html2canvas(mainElement).then(function(canvas) {
                    // Convert the canvas to a data URL
                    var screenshotDataUrl = canvas.toDataURL("image/png");

                    // Create a temporary link element and trigger a download
                    var link = document.createElement('a');
                    link.href = screenshotDataUrl;
                    link.download = 'membership.png';
                    link.click();
                });
            } catch (error) {
                console.error('Error capturing screenshot:', error);
            }
        }
    </script>
    
</body>
</html>
