<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>ATM App</title>
    <style>

    </style>
</head>

<body>
    <header>
        <div style="width: 190px; height: 110px; background: white"></div>
        <div style="justify-content: space-between;">
            <div style="color: #002337; font-size: 48px; font-family: Inter; font-weight: 400; letter-spacing: 14.40px; word-wrap: break-word">ATM</div>
            <!--- <nav>
                <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#accounts">Accounts</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
                </ul>
            </nav> -->
        </div>
    </header>

    <main>
        <video id="cameraFeed" width="640" height="480" autoplay></video>
        <button id="takePictureButton" onclick="startVideoCapture()">Take a Picture</button>
        <button id="confirmButton" onclick="stopVideoCapture()" disabled>Confirm</button>
        <p id="responseText"></p>
    </main>
    <footer>
        <p>&copy; 2023 ATM Banking. All rights reserved.</p>
      </footer>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const takePictureButton = document.getElementById('takePictureButton');
            const confirmButton = document.getElementById('confirmButton');

            takePictureButton.addEventListener('click', startVideoCapture);
            confirmButton.addEventListener('click', stopVideoCapture);
        });

        function startVideoCapture() {
            const videoElement = document.getElementById('cameraFeed');
            const responseText = document.getElementById('responseText');
            const confirmButton = document.getElementById('confirmButton');

            // Reset video element and enable "Take a Picture" button
            resetVideoElement();
            enableTakePictureButton();

            // Show loading indicator

            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(stream => {
                        videoElement.srcObject = stream;
                        videoElement.onloadedmetadata = () => {
                            console.log('Video dimensions:', videoElement.videoWidth, 'x', videoElement.videoHeight);
                        };
                        videoElement.play();
                    })
                    .catch(error => {
                        console.error('Error accessing the camera:', error);
                        responseText.textContent = 'Error accessing the camera. Please check your camera permissions.';
                    });
            } else {
                console.error('getUserMedia not supported on this browser.');
                responseText.textContent = 'This browser does not support camera access. Please try a different browser.';
            }

            fetch('/classify', {
                method: 'GET'
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.text();
                })
                .then(data => {
                    console.log('Received data:', data);
                    data = data.trim();
                    localStorage.setItem('class_name', data);

                    switch (data.toLowerCase()) {
                        case 'kevin':
                            responseText.textContent = `I'm ${data}, yay!`;
                            break;
                        case 'anna':
                            responseText.textContent = `I'm ${data}, very cool indeed!`;
                            break;
                        case 'erica':
                            responseText.textContent = `I'm ${data}, crazy!`;
                            break;
                        case 'erdem':
                            responseText.textContent = `I'm ${data}, wowowo!`;
                            break;
                        case 'halfdan':
                            responseText.textContent = `I'm ${data}, hell yea!`;
                            break;        
                        default:
                            responseText.textContent = `I'm a fucking pistachio? But I'm still awesome!`;
                            break;
                    }
                    confirmButton.removeAttribute('disabled');
                })
                .catch(error => {
                    console.error('Fetch error:', error);
                    responseText.textContent = 'Error during classification. Please try again.';
                });
        }

        function stopVideoCapture() {
            fetch('/stop', {
                method: 'GET'
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.text();
                })
                .then(data => {
                    window.location.href = '/loading';
                })
                .catch(error => {
                    console.error('Fetch error:', error);
                });
        }

        function resetVideoElement() {
            const videoElement = document.getElementById('cameraFeed');
            const stream = videoElement.srcObject;

            if (stream) {
                const tracks = stream.getTracks();

                tracks.forEach(track => track.stop());

                videoElement.srcObject = null;
            }
        }

        function enableTakePictureButton() {
            const takePictureButton = document.getElementById('takePictureButton');
            takePictureButton.removeAttribute('disabled');
        }
    </script>

</body>

</html>