<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu+Condensed" />
    <title>ATM App</title>
    <style>
#takePictureButton {
        background-image: url('/static/take_picture_button.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-color: transparent;
        width: 100px; /* Adjust the width as needed */
        height: 100px; /* Adjust the height as needed */
        border: none;
        cursor: pointer;
    }

    #takePictureButton:hover {
        background-image: url('/static/take_picture_button2.png');
    }
    #takePictureButton.clicked {
        background-image: url('/static/take_picture_button3.png');
    }
    .whitebox {
        background: white;
    }
    main {
            display: flex; 
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
    </style>
</head>

<body>
    <header>
        <div style="width: 190px;height: 100px; margin: 0 auto;text-align: center;background: #D7E9F1">
            <img src="/static/number4.png" alt="number4" style="width: 90%; margin-top: -23px;"></div>
    </header>

    <main class="innerbox">
        <p id="welcome" style="font-size: 20px;">Take a picture to verify your identity.</p>
        <div id="cameraFeed" class="blackBox"></div>
        <button id="takePictureButton" onclick="startVideoCapture()"></button>
        <p id="responseText"></p>
    </main>
    <footer>
        <p>&copy; 2023 ATM Banking. All rights reserved.</p>
      </footer>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const takePictureButton = document.getElementById('takePictureButton');
            const confirmButton = document.getElementById('confirmButton');
            const cameraFeed = document.getElementById('cameraFeed');

            takePictureButton.addEventListener('click', startVideoCapture);
            confirmButton.addEventListener('click', stopVideoCapture);
            takePictureButton.addEventListener('mousedown', function () {
            takePictureButton.classList.add('clicked');
            cameraFeed.classList.add('whitebox');
        });

        takePictureButton.addEventListener('mouseup', function () {
            takePictureButton.classList.remove('clicked');
            cameraFeed.classList.remove('whitebox');
        });
        });

        function startVideoCapture() {
            const videoElement = document.getElementById('cameraFeed');
            const responseText = document.getElementById('responseText');
            const confirmButton = document.getElementById('confirmButton');

            // Reset video element and enable "Take a Picture" button
            resetVideoElement();
            enableTakePictureButton();

            // Show loading indicator

            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(stream => {
                        videoElement.srcObject = stream;
                        videoElement.onloadedmetadata = () => {
                            console.log('Video dimensions:', videoElement.videoWidth, 'x', videoElement.videoHeight);
                        };
                        videoElement.play();
                    })
            } else {
                console.error('getUserMedia not supported on this browser.');
                responseText.textContent = 'This browser does not support camera access. Please try a different browser.';
            }
            fetch('/classify', {
                method: 'GET'
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.text();
                })
                .then(data => {
                    console.log('Received data:', data);
                    data = data.trim();
                    localStorage.setItem('class_name', data);

                    switch (data.toLowerCase()) {
                        case 'kevin':
                            responseText.textContent = `I'm ${data}, yay!`;
                            break;
                        case 'anna':
                            responseText.textContent = `I'm ${data}, very cool indeed!`;
                            break;
                        case 'erica':
                            responseText.textContent = `I'm ${data}, crazy!`;
                            break;
                        case 'erdem':
                            responseText.textContent = `I'm ${data}, wowowo!`;
                            break;
                        case 'halfdan':
                            responseText.textContent = `I'm ${data}, hell yea!`;
                            break;        
                        default:
                            responseText.textContent = `I'm a fucking pistachio? But I'm still awesome!`;
                            break;
                    }
                    // Display a confirmation dialog
                    window.alert("Your picture has been taken.");
                    setTimeout(() => {
                    stopVideoCapture();
                    }, 2000);
                })
                .catch(error => {
                    console.error('Fetch error:', error);
                    responseText.textContent = 'Error during classification. Please try again.';
                });

        }

        function stopVideoCapture() {
            fetch('/stop', {
                method: 'GET'
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.text();
                })
                .then(data => {
                    window.location.href = '/loading';
                })
                .catch(error => {
                    console.error('Fetch error:', error);
                });
        }

        function resetVideoElement() {
            const videoElement = document.getElementById('cameraFeed');
            const stream = videoElement.srcObject;

            if (stream) {
                const tracks = stream.getTracks();

                tracks.forEach(track => track.stop());

                videoElement.srcObject = null;
            }
        }

        function enableTakePictureButton() {
            const takePictureButton = document.getElementById('takePictureButton');
            takePictureButton.removeAttribute('disabled');
        }
    </script>

</body>

</html>