<!DOCTYPE html>
<html lang="en">
<head>
  <title>Survey Form</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="expires" content="0">
  <link href="https://fonts.googleapis.com/css?family=Quicksand|Roboto" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu+Condensed" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <style>
    .question-set {
      display: none;
    }

    .question-set.active {
      display: block;
    }
    .image-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-content: space-between; /* Adjust the max-width as needed */
        }

        .image-item {
            flex: 0 0 calc(25% - 10px); /* Adjust the width and margin as needed */
            margin: 5px;
            cursor: pointer;
            position: relative;
            transition: filter 0.2s;
        }

        .image-item:hover {
          filter: brightness(70%);
        }

        .selected {
          filter: brightness(50%); 
        }
  </style>
</head>
<body>
  <header>
    <div style="width: 190px;height: 100px; margin: 0 auto;text-align: center;background: #D7E9F1">
        <img src="/static/number2.png" alt="number2" style="width: 90%; margin-top: -23px;"></div>
</header>
  <main class="innerbox" style="padding-bottom: 0px;">
  <form id="survey-form" autocomplete="off" action="/survey" method="post">
    <div class="question-set active" id="questionSet1">
      <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
      <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word; margin-top: 10%;">What is your first name?</div>
        <input type="text" id="first_name_input" name="fname" oninput="validateText(this)" style="width: 759.88px; height: 56px; border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;" class="right input-field" placeholder="" required>
      </div>
      </fieldset>
    <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
        <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
          <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word">What is your last name?</div>
            <input type="text" id="textInput" oninput="validateText(this)" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field" placeholder="" required>
        </div>
    </fieldset>
    <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
      <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word">What is your CPR number?</div>
          <input type="number" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field" placeholder=""  required>
      </div>
    </fieldset>
    <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
      <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word">What is your mobile number?</div>
          <input type="number" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field" placeholder=""  required>
      </div>
    </fieldset>
    </div>

    <div class="question-set" id="questionSet2">
      <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
        <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
          <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word; margin-top: 10%;">What is your nationality?</div>
          <input type="text" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field"  placeholder="" required>
        </div>
        </fieldset>
      <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
          <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
            <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word">What is your Zodiac sign?</div>
              <input type="text" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field" placeholder=""  required>
          </div>
      </fieldset>
      <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
        <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
          <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word">What is your current home address?</div>
            <input type="text" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field" placeholder=""  required>
        </div>
    </fieldset>
    <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
      <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word">What is your marital status?</div>
        <select class="dropdown" required="required">
          <option value=""disabled selected>Select an option</option>
          <option value="Unmarried">Unmarried</option>
          <option value="Engaged">Engaged</option>
          <option value="Married">Married</option>
          <option value="Complicated">Complicated</option>
      </select>
      </div>
    </fieldset>
    </div>

    <div class="question-set" id="questionSet3">
    <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
      <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word; margin-top: 10%;">What is your main source of income?</div>
          <input type="text" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field" placeholder=""  required>
      </div>
    </fieldset>
    <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
      <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; position: relative;gap: 8px; display: flex">
        <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word;">How much do you expect to earn every month this year?</div>
        <input type="number" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field"  placeholder="" required>
        <span class="suffix">DKK</span>
      </div>
      </fieldset>
      <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
        <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; position: relative;gap: 8px; display: flex">
          <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word; ">How much money do you expect to receive from abroad every month? </div>
            <input type="number" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field" placeholder=""  required>
            <span class="suffix">DKK</span>
        </div>
      </fieldset>
      <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
      <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; position: relative;gap: 8px; display: flex">
        <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word">How much money do you expect to transfer abroad every month?</div>
          <input type="tnumberext" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field" placeholder=""  required>
          <span class="suffix">DKK</span>
      </div>
      </fieldset>
    </div>
    
    <div class="question-set" id="questionSet4">
    <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
      <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; position: relative;gap: 8px; display: flex">
        <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word; margin-top: 10%;">What is your monthly budget for food? </div>
          <input type="number" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field" placeholder=""  required>
          <span class="suffix" style="margin-top: 8%">DKK</span>
      </div>
    </fieldset>
    <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
      <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; position: relative;gap: 8px; display: flex">
        <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word">What is your monthly budget for hot beverages? </div>
          <input type="number" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field" placeholder=""  required>
          <span class="suffix">DKK</span>
      </div>
    </fieldset>
    <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
      <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; position: relative;gap: 8px; display: flex">
        <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word">What is your monthly budget for your nipples? </div>
          <input type="number" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field" placeholder=""  required>
          <span class="suffix">DKK</span>
      </div>
    </fieldset>
    <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
      <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; position: relative;gap: 8px; display: flex">
        <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word">What is your monthly budget for plant fertilizer? </div>
          <input type="number" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field" placeholder=""  required>
          <span class="suffix">DKK</span>
      </div>
    </fieldset>
    </div>

    <div class="question-set" id="questionSet5">
      <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
      <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word; margin-top: 10%;">What are your technological assets? (check devices you own)</div>
        <div class="image-container">
          <div class="image-item" onclick="toggleSelection('device1')">
            <img id="device1" src="/static/device1.png" alt="Picture 1">
        </div>
    
        <div class="image-item" onclick="toggleSelection('device2')">
            <img id="device2" src="/static/device2.png" alt="Picture 2">
        </div>
    
        <div class="image-item" onclick="toggleSelection('device3')">
            <img id="device3" src="/static/device3.png" alt="Picture 3">
        </div>
    
        <div class="image-item" onclick="toggleSelection('device4')">
            <img id="device4" src="/static/device4.png" alt="Picture 4">
        </div>
    
        <div class="image-item" onclick="toggleSelection('device5')">
            <img id="device5" src="/static/device5.png" alt="Picture 5">
        </div>
    
        <div class="image-item" onclick="toggleSelection('device6')">
            <img id="device6" src="/static/device6.png" alt="Picture 6">
        </div>
    
        <div class="image-item" onclick="toggleSelection('device7')">
            <img id="device7" src="/static/device7.png" alt="Picture 7">
        </div>
    
        <div class="image-item" onclick="toggleSelection('device8')">
            <img id="device8" src="/static/device8.png" alt="Picture 8">
        </div>
        </div>
        <input type="hidden" id="selectedPictures" name="selectedPictures" value="">
    
        </div>
      </div>
      </fieldset>
    </div>
   
    <div class="question-set" id="questionSet6">
    <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
      <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word; margin-top: 10%;">How many meals do you have per day?</div>
          <input type="number" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field" placeholder=""  required>
      </div>
    </fieldset>
    <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
      <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word">How do you prefer your potatoes? </div>
          <input type="text" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field" placeholder=""  required>
      </div>
    </fieldset>
    <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
      <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word">How many times have you left a bad review for a food delivery service? </div>
          <input type="number" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field" placeholder=""  required>
      </div>
    </fieldset>
    </div>


    <div class="question-set" id="questionSet7">
      
      <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
        <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
          <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word; margin-top: 10%;">How many plants do you own?</div>
            <input type="number" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field" placeholder=""  required>
        </div>
      </fieldset>
      <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
        <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
          <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word">Is your diet mainly plant based?</div>
          <select class="dropdown" required="required">
            <option value=""disabled selected>Select an option</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
        </div>
      </fieldset>
      <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
        <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
          <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word">Do you tend to fill your emotional voids by resolving to care for other beings?</div>
            <input type="text" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field" placeholder=""  required>
        </div>
      </fieldset>
      <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
        <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
          <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word">Do you think the diet of superior carnivorous plants would be human-based?</div>
          <select class="dropdown" required="required">
            <option value=""disabled selected>Select an option</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
        </div>
      </fieldset>
      </div>

  
      <div class="question-set" id="questionSet8">
        <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">  
          <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word; margin-top: 10%;">Which of these plants do you own? (check the ones that apply)</div>
        <div class="image-container">
          <div class="image-item" onclick="toggleSelection('plant1')">
            <img id="plant1" src="/static/plant1.png" alt="Picture 1">
        </div>
    
        <div class="image-item" onclick="toggleSelection('plant2')">
            <img id="plant2" src="/static/plant2.png" alt="Picture 2">
        </div>
    
        <div class="image-item" onclick="toggleSelection('plant3')">
            <img id="plant3" src="/static/plant3.png" alt="Picture 3">
        </div>
    
        <div class="image-item" onclick="toggleSelection('plant4')">
            <img id="plant4" src="/static/plant4.png" alt="Picture 4">
        </div>
    
        <div class="image-item" onclick="toggleSelection('plant5')">
            <img id="plant5" src="/static/plant5.png" alt="Picture 5">
        </div>
    
        <div class="image-item" onclick="toggleSelection('plant6')">
            <img id="plant6" src="/static/plant6.png" alt="Picture 6">
        </div>
    
        <div class="image-item" onclick="toggleSelection('plant7')">
            <img id="plant7" src="/static/plant7.png" alt="Picture 7">
        </div>
    
        <div class="image-item" onclick="toggleSelection('plant8')">
            <img id="plant8" src="/static/plant8.png" alt="Picture 8">
        </div>
        </div>
        <input type="hidden" id="selectedPictures" name="selectedPictures" value="">
    
        </div>
      </fieldset>
      </div>

      <div class="question-set" id="questionSet9">
        
        <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
          <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
            <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word; margin-top: 10%;">How many times a month do you devote yourself to someone or something?</div>
              <input type="number" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field" placeholder=""  required>
          </div>
        </fieldset>
        <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
          <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
            <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word">Do you want to be loved by someone?</div>
              <input type="text" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field" placeholder=""  required>
          </div>
        </fieldset>
        <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
          <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
            <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word">Do you consider yourself waifu/husbando material?</div>
              <input type="text" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field" placeholder=""  required>
          </div>
        </fieldset>
        <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
          <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
            <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word">Are you feeling lonely right now?</div>
              <input type="text" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field" placeholder=""  required>
          </div>
        </fieldset>
        </div>

        <div class="question-set" id="questionSet10">
          
          <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
            <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
              <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word; margin-top: 10%;">Do you agree with the statement that nipples are the eyes of the body?</div>
                <input type="text" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field" placeholder=""  required>
            </div>
          </fieldset>
          <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
            <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
              <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word">How do you feel about your own nipples and their visibility?</div>
                <input type="text" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field" placeholder=""  required>
            </div>
          </fieldset>
          <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
            <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
              <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word">How do you feel about webcams in relation to your nipples?</div>
                <input type="text" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field" placeholder=""  required>
            </div>
          </fieldset>
          </div>

          <div class="question-set" id="questionSet11">
            <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
              <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word; margin-top: 10%;">Are you client of any subscription services? (Check the ones that apply)</div>
                <div class="image-container">
                  <div class="image-item" onclick="toggleSelection('subs1')">
                    <img id="subs1" src="/static/subs1.png" alt="Picture 1">
                </div>
            
                <div class="image-item" onclick="toggleSelection('subs2')">
                    <img id="subs2" src="/static/subs2.png" alt="Picture 2">
                </div>
            
                <div class="image-item" onclick="toggleSelection('subs3')">
                    <img id="subs3" src="/static/subs3.png" alt="Picture 3">
                </div>
            
                <div class="image-item" onclick="toggleSelection('subs4')">
                    <img id="subs4" src="/static/subs4.png" alt="Picture 4">
                </div>
            
                <div class="image-item" onclick="toggleSelection('subs5')">
                    <img id="subs5" src="/static/subs5.png" alt="Picture 5">
                </div>
            
                <div class="image-item" onclick="toggleSelection('subs6')">
                    <img id="subs6" src="/static/subs6.png" alt="Picture 6">
                </div>
            
                <div class="image-item" onclick="toggleSelection('subs7')">
                    <img id="subs7" src="/static/subs7.png" alt="Picture 7">
                </div>
            
                <div class="image-item" onclick="toggleSelection('subs8')">
                    <img id="subs8" src="/static/subs8.png" alt="Picture 8">
                </div>
                </div>
                <input type="hidden" id="selectedPictures" name="selectedPictures" value="">
            
                </div>
              </div>
            </fieldset>
          </div>

    <div class="question-set" id="questionSet12">
    <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
      <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word; margin-top: 10%;">Do you prefer coffee, tea, or neither?</div>
        <select class="dropdown" required="required">
          <option value=""disabled selected>Select an option</option>
          <option value="Coffee">Coffee</option>
          <option value="Tea">Tea</option>
          <option value="Both">Both</option>
          <option value="Other">Other</option>
      </select>
      </div>
    </fieldset>
    <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
      <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word;">Where do you put your beverage when you are working at your computer?</div>
        <select class="dropdown" required="required">
          <option value=""disabled selected>Select an option</option>
          <option value="Left">On the left side of my computer</option>
          <option value="Right">On the right side of my computer</option>
          <option value="Other">Other</option>
          <option value="Waterless">I do not hydrate</option>
      </select>
      </div>
      </fieldset>
      <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
        <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
          <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word;">Are you left handed or right handed?</div>
          <select class="dropdown" required="required">
            <option value=""disabled selected>Select an option</option>
            <option value="Left">Left handed</option>
            <option value="Right">Right handed</option>
        </select>
        </div>
        </fieldset>
      <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
        <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
          <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word;">How would you rate your hand-eye coordination?</div>
          <select class="dropdown" required="required">
            <option value=""disabled selected>Select an option</option>
            <option value="EGood">Extremely good</option>
            <option value="Good">Good</option>
            <option value="Medium">Medium</option>
            <option value="Bad">Bad</option>
            <option value="EBad">Extremely bad</option>
        </select>
        </div>
        </fieldset>
    </div>


    <div class="question-set" id="questionSet13">
    <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
      <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word; margin-top: 10%;">When a tech device perishes, where do you bury them/spread the ashes?</div>
          <input type="text" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;"  class="right input-field" placeholder=""  required>
      </div>
    </fieldset>
    <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
      <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word">Do you believe in device paradise?</div>
          <input type="text" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;" class="right input-field" placeholder=""  required>
      </div>
    </fieldset>
    <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
      <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word; ">How many of your devices have their own name?</div>
        <input type="number" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;" class="right input-field"  placeholder="" required>
      </div>
      </fieldset>
      <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
        <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
          <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word">How many times did you yell at your devices during the past 7 days?</div>
            <input type="number" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;" class="right input-field" placeholder=""  required>
        </div>
    </fieldset>
    </div>

    <div class="question-set" id="questionSet14">     
    <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
      <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word; margin-top: 10%;">How many technological devices have you destroyed in the past 10 years?</div>
          <input type="number" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;" class="right input-field" placeholder=""  required>
      </div>
    </fieldset>
    <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
      <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word">Do you ever feel attacked by technology?</div>
          <input type="text" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;" class="right input-field" placeholder=""  required>
      </div>
    </fieldset>
    <fieldset class="fieldset" style="width: 20%;height: 70%;margin-left: auto;margin-right: auto;flex-direction: column;justify-content: flex-start;align-items: flex-start;gap: 25px;">
      <div class="sub-group" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="color: #002337; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word;">Have you ever felt the overwhelming urge to attack technology?</div>
          <input type="text" style="width: 759.88px; height: 56px;  border-radius: 10px; border: 1px #EBE8E4 solid; font-size: 20px;" class="right input-field" placeholder=""  required>
      </div>
    </fieldset>
    </div>
    

    <button type="button" id="nextButton" class="btn-primary" onclick="nextQuestionSet()">Next</button>
    <button type="submit" id="submitButton" class="btn-primary">Submit</button>

  </form>
</main>

  <footer>
    <p>&copy; 2023 ATM. All rights reserved.</p>
  </footer>
  <script>
  let currentQuestionSet = 1;
  const totalQuestionSets = 14; // Adjust this number based on the total number of question sets

  function nextQuestionSet() {
    const currentSet = document.getElementById(`questionSet${currentQuestionSet}`);
    const nextSet = document.getElementById(`questionSet${currentQuestionSet + 1}`);
    const currentRequiredInputs = currentSet.querySelectorAll('input[required]');

    // Check if all required inputs in the current set are filled
    if (validateInputs(currentRequiredInputs)) {
      currentSet.classList.remove('active');
      nextSet.classList.add('active');
      currentQuestionSet++;

      // Hide the "Next" button on the last set
      if (currentQuestionSet === totalQuestionSets) {
        document.getElementById('nextButton').style.visibility = 'hidden';
        document.getElementById('submitButton').style.visibility = 'visible';
      }
    } else {
      // Optionally, you can show an error message or highlight the unanswered questions
      alert('Please answer all questions before proceeding.');
    }
  }
  function validateText(inputElement) {
        // Remove any non-text characters
        inputElement.value = inputElement.value.replace(/[^a-zA-ZğĞüÜıİşŞöÖçÇøØ]/g, '');
    }

  function validateInputs(inputs) {
    // Check if all required inputs are filled
    for (const input of inputs) {
      if (input.value.trim() === '') {
        return false;
      }
    }
    return true;
  }
  function toggleSelection(imageId) {
        var imageElement = document.getElementById(imageId);
        imageElement.classList.toggle("selected");

        updateSelectedPictures();
    }

    function updateSelectedPictures() {
        var selectedPictures = document.querySelectorAll('.selected');
        var selectedPicturesArray = Array.from(selectedPictures).map(function (img) {
            return img.id;
        });

        document.getElementById('selectedPictures').value = selectedPicturesArray.join(',');
    }
    function redirectToTerms() {
            event.preventDefault();
            window.location.href = '/terms';
    }

  </script>
  
</body>
</html>
