<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu+Condensed" />
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
    <title>ATM App</title>
    <style>
        main {
            display: flex; 
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
    </style>
</head>

<body>
    <header>
        <div style="width: 190px;height: 100px; margin: 0 auto;text-align: center;background: #D7E9F1">
            <img src="/static/number3.png" alt="number3" style="width: 90%; margin-top: -23px;"></div>
    </header>

    <main class="innerbox">
        <h1 style="color: #002337; margin-top: -5%;">Thank you!</h1>
        <p id="termsthanks">Thank you for completing our questionnaire. To ensure the security of our platform, we kindly ask you to review and accept our terms and conditions. Following this, please proceed to the next screen to verify your identity by capturing a photo. Your privacy is our priority, and all information is handled with utmost confidentiality.</p>
        <div id="scrollable-container">
            <div id="scrollable-title">
                Terms & Conditions
              </div>
            <div id="scrollable-box">
                <!-- Your content goes here -->
                <p style="margin-top: auto;color: #303030;font-size: 16px;font-family: Roboto Mono;font-weight: 400; word-wrap: break-word; letter-spacing: -1.5px;"> 1. Techno-Financial Adventure Guidelines:

                    - The user, hereinafter referred to as "The Digital Voyager," is granted access to our techno-financial platform, now playfully named "The Guardian Safehouse Nexus," for engaging in exciting and intriguing techno-financial activities. ATM reserves the right to define the boundaries of permissible activities within the realm of "intriguing."
                    
                    2. Techno-Financial Charges and Virtual Fees:
                    
                    - ATM retains the authority to impose techno-financial charges, fees, and additional costs collectively termed "The Virtual Expenses." The Digital Voyager will be informed of such costs based on digital analytics and our team's expert evaluation, ensuring fairness in the techno-financial landscape.
                    
                    3. Privacy Magic:
                    
                    - ATM is committed to practicing the art of Privacy Magic, wherein user data undergoes a transformation into a secure techno-financial elixir with undisclosed components. The Digital Voyager agrees not to probe into the secret sauce and trusts that the magic is used responsibly in our techno-financial realm.
                    
                    4. Ending the Techno-Financial Adventure:
                    
                    - In the event of terminating The Tech Agreement, ATM pledges to notify The Digital Voyager through secure channels, utilizing advanced encryption methods or perhaps a virtual messenger pigeon for a touch of whimsy. The termination process will be conducted with utmost care and transparency.
                    
                    5. Changes to The Codebook:
                    
                    - ATM may introduce updates to The Codebook at its discretion. The Digital Voyager is encouraged to stay tuned to our techno-financial communication channels, especially during special events or unexpected digital phenomena, to stay informed about any changes that may enhance the techno-financial adventure experience.
                    
                    6. Techno-Financial Conflict Resolution:
                    
                    - Should conflicts arise in our techno-financial space, ATM and The Digital Voyager commit to a collaborative resolution process. While both parties will engage in the dialogue, ATM holds the final say, leveraging our expertise to ensure a fair and efficient resolution within the techno-financial landscape.
                    
                    7. Uncharted Techno-Financial Territory:
                    
                    - Matters not explicitly addressed in The Codebook venture into the Uncharted Techno-Financial Territory, a space of unknowns where ATM and The Digital Voyager may need to navigate together. The Digital Voyager is urged to exercise caution while exploring this uncharted territory within our techno-financial ecosystem.
                    
                    8. Picture Handling Agreement:
                    
                    - During certain sessions, pictures may be taken for security or identification purposes. ATM assures The Digital Voyager that these pictures will not be used for any purposes outside the current session. All pictures will be promptly and securely deleted after the session concludes. Privacy is a top priority in our techno-financial journey.</p>
                <!-- Add more content as needed -->
            </div>
        </div>
        <button onclick="redirectToScreen()" class="btn-primary">Accept & Continue</button>

    </main>
    <footer>
        <p>&copy; 2023 ATM. All rights reserved.</p>
      </footer>
    <script>
        function redirectToScreen() {
            window.location.href = '/screen';
    }
    </script>

</body>

</html>