<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu+Condensed" />
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
    <title>ATM App</title>
    <style>
        main {
            display: flex; 
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
    </style>
</head>

<body>
    <header>
        <div style="width: 190px;height: 100px; margin: 0 auto;text-align: center;background: #D7E9F1">
            <img src="/static/number3.png" alt="number3" style="width: 90%; margin-top: -23px;"></div>
    </header>

    <main class="innerbox">
        <h1 style="color: #002337;">Thank you! Blah blah title</h1>
        <p id="termsthanks">Hello! Write here thanks + instructions = thanks for the questionnaire + now accept terms&conditions and verify identity in next screen. 
            Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos. </p>
        <div id="scrollable-container">
            <div id="scrollable-title">
                Terms & Conditions
              </div>
            <div id="scrollable-box">
                <!-- Your content goes here -->
                <p style="margin-top: auto;color: #303030;font-size: 16px;font-family: Roboto Mono;font-weight: 400; word-wrap: break-word; letter-spacing: -1.5px;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, 
                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, 
                    sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, 
                    sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad</p>
                <!-- Add more content as needed -->
            </div>
        </div>
        <button onclick="redirectToScreen()" class="btn-primary">Accept & Continue</button>

    </main>
    <footer>
        <p>&copy; 2023 ATM. All rights reserved.</p>
      </footer>
    <script>
        function redirectToScreen() {
            window.location.href = '/screen';
    }
    </script>

</body>

</html>